/* --------------------------------------------------
*  CSS Reset - v1.0 | 20080212
*  http://meyerweb.com/eric/tools/css/reset/
-------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
/*
:focus {
	outline: 0;
}
*/

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --------------------------------------------------
*  Main Grid : 2 columns
*  http://www.zurb.com/playground/css-grid-builder
-------------------------------------------------- */

body
{
    background: #fff url(body-bg.png) repeat-x;
    font-size: .85em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

#page
{
    background-color: transparent;
    margin: 0 auto; 
    padding: 0;
    position: relative; 
    width: 985px; 
}

#main
{
    background-color: #fff;
    padding: 20px;
}

#content,
#sidebar
{
    display: inline;
    float: left;
    margin: 0 0 0 20px;
}

#content
{
    margin-left: 0;
    width: 700px;
}

#sidebar
{
    background-color: #f6f4f1;
    width: 205px;
    padding: 10px;
}

.fullwidth #sidebar
{
    width: 0;
    padding: 0;
}

.fullwidth #content
{
    width: 945px;
}

#footer
{
    padding: 20px 0 0 0;
    text-align: center;
    font-size: smaller;
    color: #999;
}

/* Clear the columns automagically, thanks @kneath */

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .clearfix { height: 1%; }
.clearfix { display: inline-block; }
.clearfix { display: block; }

h2:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html h2 { height: 1%; }
h2 { display: inline-block; }
h2 { display: block; }


/* --------------------------------------------------
*  Typographie
-------------------------------------------------- */

body
{
	line-height: 1.4;
}

#sidebar
{
    font-size: 99%;
    color: #5f420c;
}

p
{
	padding: 4px 0;
}

ol
{
	padding: 4px 0;
	list-style-type: decimal;
	margin-left: 30px;
}

ul
{
	padding: 4px 0;
	list-style-type: disc;
	margin-left: 30px;
}

ul ul, ol ul
{
	padding: 2px 0;
	list-style-type: circle;
}

blockquote
{
    background-color: #f6f4f1;
    border-left: solid 5px #e7e1d1;
    clear: both;
    font-style: italic;
    margin: 20px 0;
    padding: 5px 15px;
}

h2
{
    background-color: #f6f4f1;
    color: #5f420c;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 15px 0;
    padding: 5px 5px;
}
h2:first-child
{
    margin-top: 0;
}

h3,
fieldset.form legend
{
    background-color: transparent;
    color: #999;
    font-weight: bold;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 10px 0;
}


/* --------------------------------------------------
*  Header : title and links
-------------------------------------------------- */

#header
{
    vertical-align: middle;
    line-height: 5em;
}

#header h1,
#header div
{
    float: left;
    width: 50%;
}

#header h1
{
    font-size: 200%;
}

#header div
{
    clear: right;
    float: left;
    text-align: right;
}

#header a,
#header a:active,
#header a:visited
{
    color: #5f420c;
    text-decoration: none;
}

#header a:hover
{
    color: #fff !important;
    text-decoration: underline !important;
}

#header div a.search
{
    display: inline;
    padding: 5px 5px 5px 25px;
}

#header div span
{
    color: #999;
    padding: 0 10px;
}


/* --------------------------------------------------
*  Menu
-------------------------------------------------- */

ul#menu
{
    display: block;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: #5f420c;
    width: 985px !important;
}

ul#menu li
{
	float: left;
	margin: 0;
	padding: 0;
}

ul#menu li a
{
	padding: 10px 15px;
	display: block;
	color: #fff;
	text-decoration: none;
}

ul#menu li a:hover,
ul#menu li a:active,
ul#menu li a.selected
{
    background-color: #e7e1d1;
    color: #5f420c;
    text-decoration: none;
}


/* --------------------------------------------------
*  Messages
*  http://css.dzone.com/news/css-message-boxes-different-me
-------------------------------------------------- */

#readme 
{
    background-color: #ffffcc;
    border-bottom: solid 1px #dedede;
    padding: 10px;
}

.messagebox,
.infobox,
.errorbox,
.warningbox,
.successbox
{
    color: #444;
    margin: 0 0 1em 0;
    min-height: 38px;
    padding: 10px 10px 10px 65px;
}

.messagebox
{
    background-color: #f6f4f1;
    border: solid 1px #e7e1d1;
    padding-left: 10px;
}

.infobox
{
    background: #e4f2fd url(infobox.png) no-repeat 5px 7px;
    /* border-color: #006699; */
}

.errorbox
{
    background: #ffd9c8 url(errorbox.png) no-repeat 5px 7px;
    /* border-color: #f0baa2; */
}

.warningbox
{
    background: #fff298 url(warningbox.png) no-repeat 5px 7px;
    /* border-color: #ecd852 */
}

.successbox
{
    background: #dbf6be url(successbox.png) no-repeat 5px 7px;
    /* border-color: #9bbf65; */
}


/* --------------------------------------------------
*  Formulaire : Disposition
-------------------------------------------------- */

fieldset.form
{
    margin-bottom: 10px;
}

fieldset.formsubmit
{
    margin-left: 190px;
}

fieldset.form legend
{
    margin-top: 0;
    margin-bottom: 10px;
}

fieldset.form label
{
    display: inline-block;
    margin: 0 10px 0 0;
}

fieldset.form label.spacer,
fieldset.form p label:first-child
{
    background-color: transparent;
    color: #666;
    text-align: right;
    vertical-align: top;
    width: 180px;
}

fieldset.form span
{
    display: inline-block;
    margin: 0 0 3px 0;
    height: auto;
    width: 450px;
}


/* --------------------------------------------------
*  Formulaire : Présentation
-------------------------------------------------- */

input,
select,
textarea
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
    letter-spacing: 1px;
}

fieldset.form input[type="date"],
fieldset.form input[type="datetime"],
fieldset.form input[type="email"],
fieldset.form input[type="number"],
fieldset.form input[type="phone"],
fieldset.form input[type="text"],
fieldset.form input[type="url"],
fieldset.form select,
fieldset.form textarea
{
    border: 1px solid #ccc;
    padding: 2px 4px;
    margin: 0 0 3px 0;
    width: 350px;
}

fieldset.form select[size]
{
    height: 5em;
}

fieldset.form textarea
{
    height: 5em;
    width: 450px;
}

fieldset.form input[type="date"],
fieldset.form input[type="number"]
{
    width: 90px;
}

fieldset.form input[type="datetime"],
fieldset.form input[type="phone"] 
{
    width: 170px;
}

fieldset.form p :focus
{
    outline-style: solid;
    outline-width: 2px;
    outline-color: #ebb95b;
    background-color: #fff8d5;
}

input[type="button"],
input[type="submit"]
{
    background-color: #abbf3d !important;
    border-style: none !important;
 	color: #fff !important;
	font-size: 1em !important;
	font-weight: bold !important;
	margin: 0 15px 0 0 !important; 
    padding: 5px 20px !important;
}

input[type="button"]:focus,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover
{
    background-color: #98ac2b !important;
    border-style: none !important;
 	color: #fff !important;
	font-size: 1em !important;
	font-weight: bold !important;
	margin: 0 15px 0 0 !important; 
    outline-width: 0 !important;
    padding: 5px 20px !important;
}


/* --------------------------------------------------
*  Tableau
-------------------------------------------------- */

table.xtable
{
    background-color: transparent;
    color: #333;
    font-size: 95%;
    margin-bottom: 15px;
    width: 100%;
}

table.bigfont
{
    font-size: 100%;
}

table.xtable tbody
{
    border: solid 0 #e7e1d1;
    border-width: 5px 0;
}

table.noborder tbody
{
    border-width: 0;
}

table.xtable tbody tr:hover
{
    background-color: #e4f2fd;
    color: #000;
}

table.xtable th,
table.xtable td
{
    font-weight: normal;
    padding: 3px;
    text-align: left;
    vertical-align: top;
    margin: 10px 0 !important;
}

table.xtable tr
{
    padding: 10px 0 !important;
    margin: 10px 0 !important;
}


/* --------------------------------------------------
*  Icones pour les actions
-------------------------------------------------- */

a.icon,
a.show,
a.new,
a.edit,
a.delete,
a.search,
a.back,
a.next
{
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    padding-left: 30px;
}

a.show
{
    background-image: url(show.png);
}

a.new
{
    background-image: url(new.png);
}

a.edit
{
    background-image: url(edit.png);
}

a.delete
{
    background-image: url(delete.png);
}

a.search
{
    background-image: url(search.png);
}

a.back
{
    background-image: url(back.png);
}

a.next
{
    background-image: url(next.png);
}

table a.icon,
table a.show,
table a.new,
table a.edit,
table a.delete,
table a.search,
table a.back,
table a.next
{
    padding-left: 0;
    width: 24px;
}


/* --------------------------------------------------
*  Boutons et listes dans la barre latérale
-------------------------------------------------- */

#sidebar .box
{
    margin: 0 0 15px 0;
}

#sidebar .box h3
{
    background-color: #e7e1d1 !important;
    color: #5f420c;
    font-size: 1.1em;
    margin: 0 0 10px 0;
    padding: 3px 5px;
}

#sidebar .box h2
{
    font-size: 1.3em;
    text-align: center;
}

#sidebar .box h2 a
{
    background-color: transparent;
    background-position: 10px 5px;
    color: #999;
    padding: 5px 10px 5px 40px;
    text-decoration: none;
}

#sidebar .box h2 a:hover
{
    background-color: #e7e1d1;
    color: #999;
}

#sidebar .box ul.buttons
{
    margin: 0 0 5px 0;
    padding: 0;
}
#sidebar .box ul.buttons li
{
    list-style: none;
}
#sidebar .box ul.buttons li a
{
    color: #5f420c;
	display: block;
	line-height: 1.6em;
	text-decoration: none;
}
#sidebar .box ul.buttons li a:hover 
{
    background-color: #fff;
    color: #000 !important;
}


/* --------------------------------------------------
*  Boutons dans le titre du contenu principal
-------------------------------------------------- */

#content h2 a
{
	text-decoration: none;
}

#content h2 a:hover
{
	text-decoration: underline;
}

#content h2 span
{
    left: 510px;
    position: absolute;
    text-align: right;
    width: 205px;
}

.fullwidth #content h2 span
{
    left: 755px;
}

#content h2 span a
{
    background-color: transparent;
    background-position: 10px 1px;
	color: #999;
    padding: 1px 10px 1px 40px;
	text-decoration: none;
}

#content h2 span a:hover
{
    background-color: #e7e1d1;
	color: #999;
	text-decoration: none;
}